.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: $primary;
  padding-left: 1rem;
}
.navbar_main_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $primary;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.navbar_main_nav ul {
  list-style: none;
}
.navbar_main_nav_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: white;
}
.navbar_main_nav_item img {
  border-radius: 100%;
  width: 3rem;
}
.collapse_btn {
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;
  font-size: x-large;
  font-weight: bolder;
}
.dropdown_icon {
  font-size: xx-large;
  margin-top: 0.5rem;
  width: 3rem;
}
.user_dropdown {
  position: relative;
}
.user_dropdown > * {
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  background-color: #f9f9f9;
  width: 13rem;
  height: 5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
  right: 0;
  border-radius: 5px;
}
.user_dropdown:hover .dropdown-content {
  display: flex;
}
.dropdown_item {
  align-items: center;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  border-radius: 5px;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s;
}
.dropdown_item:hover {
  background-color: darken($color: #fff, $amount: 10);
}
.dropdown_item button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
