.section_header {
  display: flex;
  width: 95%;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  margin-top: 1rem;
}

.section_header h1 {
  font-size: x-large;
  font-weight: 700;
}

.breadcrumb {
  font-size: small;
}
