.form {
  background-color: #fff;
  border-top: 4px solid $primary;
  box-shadow: 0px 3px 30px 3px $box_shadow;
  border-radius: 5px;
  color: $dark;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 1.5rem;
  padding: 2rem;
  width: 50%;
}

.form_input {
  display: grid;
  gap: 10px;
}

.form_input input {
  border-radius: 5px;
  border: 0.5px solid $border_input;
  font-size: 15px;
  font-weight: lighter;
  height: 3rem;
  padding-left: 10px;
}

select {
  width: 100%;
  height: 3rem;
  padding-left: 10px;
  border: 0.5px solid $border_input;
  border-radius: 5px;
  font-size: 15px;
  font-weight: lighter;
}

.form_input input:focus {
  border-color: $primary;
  outline: transparent;
}

.form_action {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.form_action button {
  width: 5.5rem;
  height: 3rem;
  border-radius: 5px;
  border: 0px solid $border_input;
  font-weight: 800;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.form_btn_cancel {
  background-color: rgb(226, 77, 77);
  color: white;
}

.form_btn_cancel:hover {
  background-color: darken($color: rgb(226, 77, 77), $amount: 10);
}

.form_btn_save:hover {
  background-color: darken($color: white, $amount: 20);
}
