.section_top_toolbar {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
}

.top_toolbar_action {
  display: flex;
}

.top_toolbar_search form {
  display: flex;
  justify-content: flex-end;
}

.top_toolbar_search input {
  height: 2.3rem;
  width: 15rem;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-right: transparent;
  padding-left: 10px;
}

.top_toolbar_search input:focus {
  outline: 0.5px solid $primary;
  border: 0.5px solid transparent;
}

.top_toolbar_search button {
  height: 2.3rem;
  width: 3rem;
  border: none;
  background-color: $primary;
  padding-top: 5px;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.toolbar_btn {
  border: none;
  padding-top: 4px;
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.5s;
}
.toolbar_btn * {
  color: $icon_color;
  font-size: large;
}

.toolbar_btn:hover {
  background-color: darken($color: #fff, $amount: 10);
}

.toolbar_btn:disabled * {
  pointer-events: none;
  color: $icon_disabled;
}

.toolbar_btn:disabled {
  background-color: transparent;
}
