// Colors
$primary: #f60;
$secondary: #34395e;
$success: #34b042;
$info: #3abaf4;
$warning: #ffa426;
$danger: #fc544b;
$light: #e3eaef;
$dark: #191d21;
$background_light: #f4f6f9;
$icon_color: rgba(0, 0, 0, 0.54);
$icon_disabled: rgb(171, 168, 168);
$box_shadow: rgb(226, 223, 223);
$border_input: rgb(129, 127, 127);
